.Card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.Card--color {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.Card__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Card__name {
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

.Card__description {
  margin-top: 0rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0;
}

.Card__temp {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 0;
}

.Card__time {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}

@media screen and (min-width: 1100px) {
  .Card {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    width: 20rem;
    height: 24rem;
    transition: all 0.2s ease-in-out;
  }

  .Card__close {
    margin-right: 0.5rem;
    opacity: 0;
    height: 1.5rem;
    width: 1.5rem;
    transition: all 0.2s ease-in-out;
  }

  .Card__heading {
    margin: 0;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
  }

  .Card__description {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .Card__temp {
    font-size: 4rem;
    height: 4.5rem;
  }

  .Card__other {
    flex-grow: 1;
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .Card__icon {
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.3rem;
  }

  .Card__icon p {
    margin-top: 0.5rem;
  }

  .Card__state {
    margin-left: 0.5rem;
    margin-bottom: 0;
  }
  .Card__box {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .Card:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  .Card:hover .Card__close {
    opacity: 1;
  }

  .Card:hover .Card__close:hover {
    transform: scale(1.1);
  }
}
