.Input {
  margin: 1rem;
  margin-bottom: 0.3rem;
  width: 50vw;
  height: 4rem;
  border-radius: 4rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
  padding-left: 2rem;
  min-width: 30rem;
  font-size: 2rem;
}

.Input__flex {
  display: flex;
  flex-direction: column;
}

.Input__flex p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: red;
  margin-left: 2rem;
  height: 2rem;
}

.Input__label {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.Input__label--color {
  color: white;
}

.Input__invalid {
  box-shadow: 0 0 1rem red;
  outline: 0;
}

.Input__valid {
  box-shadow: 0 0 1rem rgba(216, 115, 127, 1);
  outline: 0;
}

.Input::placeholder {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .Input {
    width: 40vw;
    margin-bottom: 0.5;
  }

  .Input::placeholder {
    font-size: 1.8rem;
  }

  .Input__flex p {
    margin-left: 3rem;
    margin-bottom: 0;
    height: 1.5rem;
  }
}
