:root {
  --color-accent: #475c7a;
  --color-background: #fcbb6d;
  --color-secondary: #685d79;
  --color-primary: #f4afc2;
  /* /#d8737f; */
}

@font-face {
  font-family: 'nintendo';
  src: url('../fonts/PixelEmulator-xq08.ttf'),
    url('../fonts/PixelEmulator-xq08.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Hebbo', sans-serif;
  background: var(--color-accent);
  font-size: 2.4rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.4rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3rem;
  }
}

/* Lists */
.list {
  list-style: none;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.collapsible__extanded {
  opacity: 1;
  max-height: 200px;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .collapsible__content {
    opacity: 1;
    max-height: 100vh;
  }
}

/* Navigation */
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 0rem;
}

.nav--primary {
  background: var(--color-accent);
  color: white;
}

.nav__list {
  text-align: center;
  width: 100%;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

.nav__item {
  height: 4rem;
  font-weight: 600;
  cursor: pointer;
}

.nav__span {
  background-color: black;
  height: 30px;
  width: 30px;
  display: inline-flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.nav__span p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .list--inline .nav__item {
    display: inline;
    margin-right: 3rem;
    transition: all 0.3s ease-in-out;
  }

  .nav__list {
    width: auto;
    margin-bottom: 1rem;
  }

  .nav__item:hover {
    color: var(--color-primary);
  }

  .nav__item:not(:hover) {
    color: white;
  }

  .nav {
    padding: 0;
  }

  .nav__span {
    width: 25px;
    height: 25px;
  }
}

/* Icons */
.icon--back {
  fill: white;
  transition: fill 0.3s ease-in-out;
}

.icon__menu {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.icon__contact {
  display: inline-flex;
}

.a__icon {
  width: 4rem;
  height: 4rem;
}
.icon__git {
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}

.icon__linkedin {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .icon__menu {
    max-width: 0;
  }

  .a__icon {
    width: 2.7rem;
    height: 2.7rem;
  }

  .icon__linkedin {
    margin: 1rem 1rem;
  }

  .icon__git {
    margin: 1rem 2rem;
  }

  .icon--back:hover {
    fill: var(--color-primary);
  }

  .icon--back:not(:hover) {
    color: white;
  }
}

/* Grid */

.grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 15rem;
  grid-template-columns: 80vw;
  grid-template-rows: 200px 400px 400px;
  column-gap: 10rem;
  row-gap: 5rem;
}

.grid__content {
  position: absolute;
  bottom: 0;
}

.grid__header {
  font-size: 2rem;
  margin: 2rem;
}

.grid__span {
  color: var(--color-primary);
}

.grid__list {
  margin-left: 2rem;
  padding: 0;
  font-size: 1.5rem;
}

.grid__subject-card {
  grid-row: 1;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
}

.grid__subject-card h1 {
  color: aliceblue;
  text-align: center;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
  margin: auto;
  font-size: 5rem;
}

/* Grid-Game */
.grid__game-card {
  grid-row: 2;
  width: 100%;
  position: relative;
  background-image: url('../images/ping.jpg');
  background-size: 100% 100%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
  max-width: 40rem;
}

.grid__game-card--color {
  color: white;
}

/* Grid-Weather */
.grid__wheater-card {
  grid-row: 3;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  background-image: url('../images/sun.jpg');
  background-size: 100% 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
  max-width: 40rem;
}
.grid__wheater-card--color {
  color: white;
}

@media screen and (min-width: 768px) {
  .grid {
    height: 100%;
    margin: 0;
    align-content: center;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: 20vh 50vh;
    column-gap: 100px;
  }

  .grid__game-card {
    grid-row: 1/-1;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
  }

  .grid__subject-card {
    grid-column: 2;
  }

  .grid__wheater-card {
    grid-row: 2;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
  }

  .grid__header {
    font-size: 3rem;
    margin: 2rem;
  }

  .grid__list {
    margin-left: 2rem;
    padding: 0;
    font-size: 2rem;
  }

  .grid__wheater-card:hover,
  .grid__game-card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.75);
    transform: scale(1.01);
    opacity: 1;
    color: var(--color-primary);
  }

  .grid__wheater-card:not(:hover),
  .grid__game-card:not(:hover) {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    opacity: 0.9;
    color: white;
  }
}

/* Header Home*/
@media screen and (min-width: 768px) {
  .header {
    height: 100vh;
  }
}

/* game */
.game--font {
  font-family: 'nintendo';
}

.section-game {
  height: 50vh;
}

.section-game__msg-mobile {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

.section-game--primary {
  background: var(--color-accent);
}

.section-game__heading {
  font-family: 'nintendo';
  font-size: 3rem;
  margin-top: 0;
  padding-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
  /* color: white; */
}

.section-game__display {
  width: 1300px;
  height: 750px;
  margin: auto;
  display: none;
}

.score-bar__msg {
  display: none;
}

.btn-game {
  display: none;
}
/* game */

@media screen and (min-width: 1400px) {
  /* btn */
  .btn-game {
    display: block;
    width: 20rem;
    height: 5rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 1rem;
    opacity: 1;
    cursor: pointer;
    border: 1px solid white;
  }

  .btn-game--primary {
    background: var(--color-accent);
    color: white;
    font-weight: 600;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
  }

  .btn-game:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  .btn-game:not(:hover) {
    border-color: white;
    color: white;
  }

  .game__message {
    font-size: 3rem;
    margin: auto;
  }

  .section-game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-game__msg-mobile {
    display: none;
  }

  .section-game__heading {
    font-size: 4rem;
    margin-top: auto;
    margin-bottom: 1.5rem;
    padding-top: 0;
  }
  .section-game__display {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .section-game__display--color {
    background: #8bac0f;
  }

  .section-game__bracket--right {
    position: absolute;
    background: black;
    height: 100px;
    width: 8px;
    left: 1242px;
  }

  .section-game__bracket--left {
    position: absolute;
    background: black;
    height: 100px;
    width: 8px;
    left: 50px;
  }

  .section-game__ball {
    position: absolute;
    background: black;
    height: 15px;
    display: block;
    bottom: 0;
    width: 15px;
    margin: 0;
    opacity: 0;
  }

  .section-game__v-line {
    position: absolute;
    height: 40%;
    left: 64.5rem;
    border: 0.5rem solid black;
    border-style: dashed;
    opacity: 0.4;
  }

  .section-game--top {
    top: 1rem;
  }
  .section-game--bottom {
    bottom: 1rem;
  }

  .score-bar__score {
    position: absolute;
    top: 2rem;
  }

  .score__left {
    left: 50rem;
  }

  .score__right {
    right: 50rem;
  }

  .score-bar__round {
    position: absolute;
    bottom: 2rem;
  }

  .score-bar__msg {
    display: block;
    margin: 0;
    opacity: 0.5;
    font-size: 4rem;
  }
}

/* modal  game*/

.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

@keyframes fadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

@keyframes fadeOut {
  0% {
    background-color: rgba(0, 0, 0, 0.75);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.backdrop__animation--in {
  animation: fadeIn 500ms ease-in-out;
  animation-fill-mode: forwards;
}

.backdrop__animation--out {
  animation: fadeOut 500ms ease-in-out;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 768px) {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    border-radius: 2rem;
    z-index: 30;
    overflow: hidden;
  }

  .modal--color {
    background-color: #b7b7bf;
    color: #1c1970;
  }

  .modal__animation--in {
    animation: modal-in 500ms ease-in-out;
    animation-fill-mode: forwards;
  }

  .modal__animation--out {
    animation: modal-out 500ms ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes modal-in {
    0% {
      left: 0;
      opacity: 0;
    }

    100% {
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  @keyframes modal-out {
    0% {
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    100% {
      left: 0;
      opacity: 0;
    }
  }

  .modal__header {
    margin-left: 2rem;
    margin-top: 7rem;
    margin-bottom: 0rem;
  }

  .modal__button {
    border: none;
    display: block;
    text-align: center;
    height: 4rem;
    width: 10rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
  }

  .modal h3 {
    margin-left: 2rem;
    font-size: 2rem;
  }

  .modal__button:hover {
    color: #1c1970;
    background-color: #772263;
  }

  .modal__buton--color {
    color: #b7b7bf;
    background-color: #772263;
  }

  .modal__item {
    margin-bottom: 1rem;
  }

  .modal > div {
    display: flex;
    justify-content: space-between;
  }

  .modal__svg {
    height: 3rem;
    width: 3rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .modal__svg--color {
    color: #1c1970;
    opacity: 0.8;
  }

  .modal svg:hover {
    opacity: 1;
  }
}

/* cookies modal and backdrop*/
.backdrop__cookies {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
.cookies {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30rem;
  width: 35rem;
  border-radius: 2rem;
  z-index: 30;
  overflow: hidden;
}

.cookies--color {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.cookies__header {
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 2.5rem;
}

.cookies--animation--in {
  animation: cookies_modal-in 1s ease-in-out forwards;
}

.cookies--animation--out {
  animation: cookies_modal-out 0.5s ease-in-out forwards;
}

.cookies__svg {
  fill: var(--color-primary);
  width: 10rem;
}

.cookies__button {
  width: 30%;
  height: 4rem;
  border-radius: 2rem;
  border-style: none;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-size: 2rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

@keyframes cookies_modal-in {
  0% {
    opacity: 0;
    top: -100px;
  }
  50% {
    top: 70%;
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cookies_modal-out {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
    top: 100%;
  }
}

@media screen and (min-width: 768px) {
  .cookies {
    width: 40rem;
  }

  .cookies__button {
    width: 10rem;
  }

  .cookies__header {
    margin: 1rem;
  }
  .cookies__button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }

  .cookies__button:not(:hover) {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}
