:root {
  --color-background: #fbf7f3;
  --color-primary: #426359;
  --color-secondary: #e5b083;
  --color-accent: #20283d;
  --color-accent-rgb: 32, 40, 61;

  --color-p-5: #fbbbad;
  --color-p-6: #ee8695;
  --color-p-7: #4a7a96;
  --color-p-8: #333f58;
  --color-p-9: #292831;
  /* 
  --color-p-10: #923924;
  --color-p-11: #d5861c;
  --color-p-12: #ece8e3;
  --color-p-13: #80856a; */
}

@font-face {
  font-family: "nintendo";
  src: url("../fonts/PixelEmulator-xq08.ttf"),
    url("../fonts/PixelEmulator-xq08.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: var(--color-accent);
  font-size: 2.4rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.background--test {
  background: linear-gradient(
    to bottom,
    var(--color-accent),
    var(--color-primary)
  );
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.4rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}

/* Lists */
.list {
  list-style: none;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.collapsible__extanded {
  opacity: 1;
  max-height: 200px;
}

@media screen and (min-width: 768px) {
  .collapsible__content {
    opacity: 1;
    max-height: 100vh;
  }
}

/* Navigation */
.nav {
  display: flex;
  align-content: center;
  justify-content: end;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 0rem;
}

.nav--primary {
  background: var(--color-secondary);
  color: var(--color-accent);
}

.nav__list {
  width: 100%;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

.nav__item {
  text-align: center;
  height: 4rem;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .list--inline .nav__item {
    display: inline;
    margin-right: 1rem;
  }

  .nav__list {
    width: auto;
    margin-bottom: 1rem;
  }

  .nav__item {
    margin: 0;
    font-weight: 600;
  }

  .nav {
    padding: 0;
  }
}

/* Icons */
.icon--back {
  fill: var(--color-accent);
}

.icon {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .icon {
    max-width: 0;
  }
}

/* Grid */
.grid {
  display: grid;
  margin: auto;
  max-width: 400px;
}

.grid--2x1 {
  grid-template-rows: 0.35fr 0.65fr;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 800px;
    margin: auto;
  }
}

/* Card */
.card {
  height: 300px;
  border-radius: 7px;
  overflow: hidden;
  margin: 3rem;
  cursor: pointer;
}

.card__header {
  padding-bottom: 0.5;
}

.card__header > h2 {
  font-size: 2.5rem;
}

.card--primary {
  background: var(--color-secondary);
  color: var(--color-accent);
}

.card__heading {
  margin-left: 1rem;
  margin-top: 5rem;
}

.card__body {
  overflow: hidden;
}

.card--secondary {
  background: var(--color-background);
  color: var(--color-accent);
}

.card__item {
  margin-bottom: 2rem;
  font-weight: 600;
}

.card__list {
  margin-left: 1rem;
  padding: 0;
  word-wrap: nowrap;
}

@media screen and (min-width: 768px) {
  .card {
    margin: 0;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .card:hover {
    transform: scale(1.05);
  }
}
/* Header */

.header__box {
  margin: auto;
}

header > h1 {
  color: var(--color-background);
  text-transform: uppercase;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .header {
    height: 100vh;
    padding-bottom: 10rem;
  }
}

/* game */
.game--font {
  font-family: "nintendo";
}

.section-game {
  height: 50vh;
}

.section-game__msg-mobile {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
}

.section-game--primary {
  background: var(--color-primary);
}

.section-game__heading {
  font-family: "nintendo";
  font-size: 3rem;
  margin-top: 0;
  padding-top: 10rem;
  margin-bottom: 2rem;
  padding-top: 10rem;
  text-align: center;
}

.section-game__display {
  width: 60vw;
  height: 70vh;
  margin: auto;
  display: none;
}

.score-bar__msg {
  display: none;
}

.btn-game > p {
  display: none;
}

/* game */

@media screen and (min-width: 768px) {
  /* btn */
  .btn-game {
    width: 20rem;
    height: 5rem;
    max-width: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-background);
    border-radius: 10px;
    opacity: 0.6;
    cursor: pointer;
  }

  .btn-game > p {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
  }

  .btn-game--primary {
    background: var(--color-accent);
  }

  .btn-game:hover {
    opacity: 1;
  }

  .btn-game > p {
    display: block;
  }

  .game__message {
    font-size: 3rem;
    margin: auto;
  }

  .section-game {
    height: 100vh;
  }

  .section-game__msg-mobile {
    display: none;
  }

  .section-game__heading {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 3rem;
    padding-top: 3rem;
  }
  .section-game__display {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .section-game__display--color {
    background: #8bac0f;
  }

  .section-game__bracket--right {
    position: absolute;
    background: black;
    height: 10vh;
    width: 0.5vw;
    left: 57.5vw;
  }

  .section-game__bracket--left {
    position: absolute;
    background: black;
    height: 10vh;
    width: 0.5vw;
    left: 2vw;
  }

  .section-game__ball {
    position: absolute;
    background: black;
    height: 1.5vh;
    display: block;
    bottom: 0;
    width: 1.5vh;
    margin: 0;
    opacity: 0;
    z-index: 10;
  }

  .section-game__v-line {
    position: absolute;
    height: 40%;
    left: 50%;
    margin-left: -0.25vw;
    border: 0.3vw solid black;
    border-style: dashed;
    z-index: 1;
    opacity: 0.4;
  }

  .section-game--top {
    top: 1rem;
  }
  .section-game--bottom {
    bottom: 1rem;
  }

  .score-bar {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    margin-top: 3rem;
  }
  .score-bar__score {
    display: flex;
    height: 5rem;
    width: 20rem;
    max-width: 20rem;
    align-items: center;
  }

  .score-bar__round {
    display: flex;
    height: 5rem;
    width: 20rem;
    max-width: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
  }

  .score-bar__msg {
    display: block;
    margin: 0;
    font-size: 2rem;
    margin-left: 1rem;
  }
}

/* modal */
@media screen and (min-width: 768px) {
  .backdrop {
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.75); */
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }

  .backdrop__animation--in {
    animation: fadeIn 500ms ease-in-out;
    animation-fill-mode: forwards;
  }

  .backdrop__animation--out {
    animation: fadeOut 500ms ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }

    100% {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }

  @keyframes fadeOut {
    0% {
      background-color: rgba(0, 0, 0, 0.75);
    }

    100% {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .modal {
    position: absolute;
    background-color: var(--color-secondary);
    color: var(--color-accent);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 2rem;
    z-index: 30;
    overflow: hidden;
  }

  .modal__animation--in {
    animation: modal-in 500ms ease-in-out;
    animation-fill-mode: forwards;
  }

  .modal__animation--out {
    animation: modal-out 500ms ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes modal-in {
    0% {
      left: 0;
      opacity: 0;
    }

    100% {
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  @keyframes modal-out {
    0% {
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    100% {
      left: 0;
      opacity: 0;
    }
  }

  .modal__header {
    margin-left: 2rem;
    margin-top: 7rem;
    margin-bottom: 0rem;
  }

  .modal__button {
    border: none;
    display: block;
    text-align: center;
    height: 4rem;
    width: 10rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;

    border-radius: 15px;
  }

  .modal__button:hover {
    color: var(--color-secondary);
    background-color: var(--color-background);
  }

  .modal__buton--color {
    color: var(--color-background);
    background-color: var(--color-accent);
  }

  .modal__item {
    margin-bottom: 1rem;
  }

  .modal > div {
    display: flex;
    justify-content: space-between;
  }

  .modal__svg {
    height: 3rem;
    width: 3rem;
    margin-top: 2rem;
    margin-right: 2rem;
    color: var(--color-accent);
  }

  .modal svg:hover {
    color: white;
  }
}
